@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: grid;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	background-color: #045174;
}

.additional-boxes {
    text-align: center;
}

.additional-boxes ul {
    padding-top: 20px;
    list-style-type: none;
}

.additional-boxes li {
    display: inline-table;
    text-align: center;
    padding: 8px;
}

.additional-boxes li a {
    border: 1.5px solid rgb(255, 255, 255);
    padding: 9px;
    display: inline-grid;
    border-radius: 5px;
    text-decoration-line: none;
    border-radius: 5px;
    transition: .3s;
}

.additional-boxes li a img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px !important;
    border-radius: 100px;
    margin: auto;
}

.additional-boxes li a span {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: #b3b3b3;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.additional-boxes li a:hover span {
    color: #000;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(58, 145, 215);
}

.additional-boxes li a:hover {
    background: rgb(0, 0, 0);
}

